<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="UpdateRepo" value="Riasoftapp/RiaLauncher" />
        <add key="UpdateAsset" value="RiaLauncher.zip" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
